<div class="section">
    <h3 class="section-headline">Section 3</h3>
    <p>
        Ipsum exercitation nostrud qui officia nostrud incididunt laborum ex dolor ut aliqua culpa.
    </p>
    <ul>
        <li><span class="bold">Lorem</span>: Fugiat enim laborum est adipisicing elit cupidatat dolore nulla excepteur fugiat cupidatat ex veniam.</li>
        <li><span class="bold">Lorem</span>: Fugiat enim laborum est adipisicing elit cupidatat dolore nulla excepteur fugiat cupidatat ex veniam.</li>
        <li><span class="bold">Lorem</span>: Fugiat enim laborum est adipisicing elit cupidatat dolore nulla excepteur fugiat cupidatat ex veniam.</li>
        <li><span class="bold">Lorem</span>: Fugiat enim laborum est adipisicing elit cupidatat dolore nulla excepteur fugiat cupidatat ex veniam.</li>
    </ul>
</div>