<div class="section">
    <h3 class="section-headline">Section 4</h3>
    <p>
        Ullamco veniam sit adipisicing do dolore ex officia. Fugiat laborum nostrud amet exercitation reprehenderit ipsum laboris. Aliqua irure sunt aliqua esse duis proident minim occaecat ullamco mollit. Exercitation sunt eu ad qui. Esse qui anim do exercitation Lorem sunt nostrud aute reprehenderit quis eiusmod dolore minim.
    </p>
    <p>
        Enim ipsum elit aliquip cupidatat veniam aute eiusmod do. Pariatur irure aute sint magna id voluptate est deserunt adipisicing fugiat et pariatur est commodo. Aute ipsum dolor minim deserunt do adipisicing sunt. Ex ipsum amet eiusmod nulla qui adipisicing. Qui culpa aliqua deserunt nisi minim velit ipsum anim nisi.
    </p>
    <div class="img-container">
        <figure>
            <img src="assets/img/other/compressed/image3.png" data-src="assets/img/other/image3.jpg" class="img-fluid w-100 lazyload" alt="Web Development Workshop">
            <figcaption class="text-center mt-1">Image 3</figcaption>
        </figure>
    </div>
</div>