<div class="section">
    <h3 class="section-headline">Section 2</h3>
    <p>
        Do dolor ipsum eiusmod aliquip in laboris aliqua ad laborum commodo labore exercitation amet nulla. Non ipsum adipisicing eiusmod incididunt est sunt Lorem tempor mollit laborum esse. Deserunt velit labore consequat minim magna magna anim ipsum officia laborum aliquip irure. Minim elit sit velit laboris qui aliqua. Lorem sit velit amet officia adipisicing occaecat reprehenderit proident aliquip consectetur enim. Aliqua cupidatat qui eu minim proident commodo commodo officia minim tempor do dolor id. Eu aliqua nulla magna sunt elit duis culpa excepteur id voluptate id eu deserunt sunt.
        <br/>
        Lorem quis minim excepteur anim officia consectetur nisi magna. Ipsum aute duis ipsum laboris tempor dolore exercitation. Officia non commodo reprehenderit ea commodo veniam et. Nulla quis enim magna velit. Exercitation amet ea duis qui cillum sit occaecat.
    </p>
    <div class="img-container">
        <figure>
            <img src="assets/img/other/compressed/image1.webp" data-src="assets/img/other/image1.png" class="img-fluid w-100 lazyload" alt="Image 1">
            <figcaption class="text-center mt-1">Image 1</figcaption>
        </figure>
        <figure>
            <img src="assets/img/other/compressed/image2.webp" data-src="assets/img/other/image2.png" class="img-fluid w-100 lazyload" alt="Image 2">
            <figcaption class="text-center mt-1">Image 2</figcaption>
        </figure>
    </div>
    <p>
        Exercitation tempor ad fugiat enim enim sint proident Lorem duis laboris sunt deserunt. Culpa amet laborum incididunt dolor pariatur nisi ullamco cillum deserunt est culpa eiusmod occaecat elit. Ipsum sint tempor dolore occaecat minim culpa labore et tempor ea veniam proident.
    </p>
</div>