<footer class="page-footer">
    <div class="container-fluid p-0 footer text-center">
        <div class="copy-right-wrapper container w-100 py-3">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 col-12 owner">
                    <p>Made with <span class="heart-icon"><i class="fa-solid fa-heart"></i></span>
                        by <span class="bold">FullName</span></p>
                </div>
            </div>
        </div>
    </div>
</footer>