<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Here is where you get to know who is FullName.">
<meta name="author" content="Full Name">
<link rel="icon" type="image/x-icon" href="assets/img/me/icon.ico">

<!-- Fonts -->
<link rel="preload" href="assets/fonts/Harmattan-Regular.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="assets/fonts/Harmattan-Bold.ttf" as="font" type="font/ttf" crossorigin>

<link rel="preload" as="style" href="app.sass">
<link rel="preload" as="style" href="external.sass">
<link rel="stylesheet" href="external.sass" type="text/css">
<link rel="stylesheet" href="app.sass" type="text/css">
<script defer src="assets/plugins/particles/particles.min.js"></script>
<title>Developer | FullName</title>