<!doctype html>
<html lang="en">

<head>
	<%- include("views/layout/head.ejs") -%>
</head>

<body class="dark-mode">
	<div id="app">
		<div class="wrapper">
			<div id="about" class="about section-wrapper py-md-5rem py-3rem">
				<%- include('views/sections/about-header.ejs') -%>
			</div>
			<div id="page-wide" class="page page-wide container-fluid py-5 px-2">
				<div class="container">
					<div class="row">
						<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
							<%- include('views/sections/greeting.ejs') -%>
							<div class="sections">
								<%- include('views/sections/section1.ejs') -%>
								<%- include('views/sections/section2.ejs') -%>
								<%- include('views/sections/section3.ejs') -%>
								<%- include('views/sections/section4.ejs') -%>
								<%- include('views/partials/lets-connect.ejs') -%>
							</div>
						</div>
					</div>
				</div>
			</div>
			<%- include('views/layout/footer') -%>
		</div>
		<%- include('views/partials/darkmode-btn') -%>
	</div>
	<script type="module" src="main.js"></script>
</body>

</html>